<html>
  <head>
    <title>AlphaBlog: About</title>
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Oswald|Droid+Sans|Ubuntu:400,500' rel='stylesheet' type='text/css'>
    <style>
      body {
        background: black;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        padding: 0;
        margin: 0 auto;
      }
      .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
      }
      .header {
        position: relative;
        width: 100%;
        margin: 0 auto;
        float: left;
      }
      h1 {
        font-family: 'Montserrat', sans-serif;
        padding-left: 20px;
      }
     h1 a {
        color: white;
        text-decoration: none;
      }
      .navbar {
        position: absolute;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        color: white;
        left: 300px;
        top: 25px;
      }
      .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .navbar li {
        float: left;
      }
      .navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        text-decoration: none;
      }
      .navbar li a:hover:not(.active) {
        color: #3f3f3f;
      }
      .banner {
        margin: 0 auto;
        padding: 0;
        float: left;
        overflow: hidden;
      }
      .banner img {
        border-top: white 2px solid;
        border-bottom: white 2px solid;
        z-index: 2;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      .banner h2 {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        left: 20px;
        bottom: 50px;
        padding: 0;
        margin: 0 0 -30px 0;
        width: 100%;
        z-index: 1;
      }
      .content {
        width: 100%;
        padding: 0;
        margin: 0;
        float: left;
      }
      .content p {
        padding: 5px 25px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><%= link_to 'AlphaBlog', root_path %></h1>
        <div class="navbar">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Articles', articles_path %></li>
          </ul>
          
        </div>
      </div>
      <div class="banner">
        <img src="/images/home.header.jpg" width="100%">
        <h2>About</h2>
      </div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet, diam scelerisque finibus consectetur, nunc sem finibus erat, a aliquam tortor mauris vel orci. Vestibulum blandit arcu nec tellus tempor, sit amet gravida libero luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse mi erat, varius eget pretium vitae, efficitur sed mauris. Nunc sed tempor ipsum, porttitor ullamcorper sem. Nam sem leo, vestibulum id leo at, dapibus ultricies mi. Pellentesque eu ligula cursus, semper nisl eget, efficitur mi. Aliquam ac purus eu nibh commodo tempor non sed dui. Mauris porttitor lorem ut aliquam feugiat. Sed vitae auctor nulla, quis vulputate mi. In eu mattis tellus, nec porttitor velit. In tempus mauris a ligula efficitur, nec fringilla lorem cursus. Nunc vestibulum sodales quam, in dapibus quam cursus eget. Cras quam eros, dapibus eget tellus ac, placerat pellentesque ante. Ut augue tellus, facilisis et finibus nec, dignissim in nisi.</p>
        <p>Aenean imperdiet tellus magna. Quisque quis lorem nec lectus dignissim aliquam. Aliquam consequat ex et rutrum tristique. Donec dolor erat, eleifend at leo vel, facilisis varius odio. Nam venenatis bibendum ante, ut venenatis velit eleifend ac. Integer congue efficitur sapien, vel maximus nibh suscipit vel. Vivamus vehicula ultrices arcu. Phasellus scelerisque ipsum pharetra, congue dui eu, elementum eros. Sed vitae sapien elementum, sodales augue quis, varius leo. Praesent ultrices laoreet scelerisque. Nam vel convallis lacus. Aenean facilisis lacinia arcu, eu euismod justo posuere ut.</p>
        <p>Duis eu consequat urna. Morbi fringilla vitae orci ac gravida. Nulla facilisi. Donec tristique lorem id est pulvinar laoreet. Donec dui est, hendrerit quis lorem ut, malesuada vestibulum lacus. Integer varius arcu vel est semper, eu convallis augue malesuada. Donec eget tincidunt nunc, sed efficitur mauris. Aliquam rutrum interdum tincidunt. Aliquam id porta orci. Quisque suscipit lacus non nisl auctor, ac hendrerit nibh elementum. Duis ut nisl at massa gravida accumsan et ac elit. Mauris feugiat magna ut est blandit bibendum.</p>
        <p>Nulla eget aliquam arcu, nec auctor ligula. Fusce eros est, eleifend quis purus sed, fringilla fermentum lectus. In semper mollis purus, at sagittis diam aliquam sed. Vestibulum faucibus massa non mauris facilisis, sit amet viverra justo lobortis. Ut tincidunt libero vel tempor dictum. Praesent sed lacinia quam, at interdum velit. Ut ac tellus auctor metus pretium vestibulum quis at est.</p>
        <p>Praesent fermentum velit in pellentesque hendrerit. Nulla tempus ornare orci, et cursus odio interdum ac. Nullam vehicula efficitur ipsum, nec blandit lectus congue non. Nullam eu ultricies velit. Nunc laoreet metus fringilla turpis pellentesque imperdiet. Aliquam vel enim vulputate, condimentum purus ac, tempus tortor. Vestibulum efficitur lorem id lectus condimentum fermentum. Pellentesque pulvinar, dui a blandit tincidunt, urna nibh hendrerit arcu, sed varius justo augue id tellus. Nam placerat libero id ipsum rutrum congue. In accumsan viverra augue, in viverra ipsum congue in. Fusce tincidunt felis ac faucibus porttitor. Aliquam diam turpis, pulvinar scelerisque purus eu, fringilla interdum sem. Vivamus molestie diam ac pulvinar imperdiet. Phasellus lobortis consequat quam sit amet volutpat. Sed quis dui in enim lobortis porttitor vel sed nulla. </p>
      </div>
    </div>
  </body>
</html>