<html>
  <body>
    <div class="center jumbotron">
      <h1>Lead the way...</h1>
      <p>The world needs leaders who can inspire others to act.</p> 
      <p>AlphaBlog is a community of leaders sharing their</p>
      <p>inspiration with the hopes of a better tomorrow.</p>
      <p id="call-to-action">Sign up and make a difference today.</p>
      <%= link_to "Sign up", "#", class: "btn btn-lg btn-signup" %>
      <%= link_to "Learn more", "#", class: "btn btn-lg btn-learnmore" %>
    </div>
    <div class="content">
    </div>  
  </body>
</html>